<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputCsvFolderName" value="" />
    <add key="InputCsvEncoding" value="Shift_JIS" />
    <add key="InputCsvSkipFirstRow" value="No" />
    <add key="OutputXlsxFolderName" value="" />
    <add key="OutputXlsxFileName" value="Output.xlsx" />
    <add key="OutputXlsxForceAllCellTypeAsString" value="No" />
  </appSettings>
</configuration>